@import url('reset.css');
@import url('common.css');


@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #212529;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1290px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


.main {
}
.achievement {

}
.achievement__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
   
    gap: 40px;
   
}
.achievement__title {
   
    
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;


}
.achievement__title::after {
    content:"";
    border-bottom: 2px solid black ;
    position: absolute;
    width: 464px;
    height: 0px;
    left: 120px;
    top: 50%;
}
.achievement__content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
   

}
.item-achievement {
   


}
.item-achievement__image img {
    max-width: 100%;
   
  

}

.item-achievement__image  {
    flex: 0 1 auto;
}
.item-achievement__text {
    display: flex;
    flex-direction: column;
    flex: 0 1 334px;
    align-self: center;
   
    gap: 20px;
   
   
    
}
.text-item-achievement {
}
.text-item-achievement__title {
  
    max-width: 293px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
 
}
.text-item-achievement__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9C9C9C;
}




.minimalist-room {
    display: flex;
    flex-wrap: wrap;

   
}
.minimalist-room__container {
    flex: 0 1 1290px;
   
   
}
.minimalist {
}
.minimalist__title-box {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}
.minimalist__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
  
}
.minimalist__title-text{ 
    max-width: 518px; 
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}


.minimalist__text {
 
    margin: 0 auto;
    max-width: 518px;
    min-height: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9C9C9C;
   
}

.minimalist__image {
    text-align: center;
    margin-bottom: 100px;
   

   

}
.minimalist__image img{
    max-width: 100%;
   
    
    

}

.minimalist__image_block{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.minimalist__image_block img {
    max-width: 100%;

}

.minimalist__article {
}

.minimalist__box {
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 1 1200px;
    margin-bottom: 81px;

}
.minimalist__column {
    display: flex;
    justify-content:space-between;
    
    flex-direction: column;
  
    overflow: hidden;
    
   
 

}
.minimalist__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 24px;

}
.minimalist__text {

    
    
  

}

.minimalist-text__footer {

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.minimalist-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 60px;

}

.minimalist-text__date {
  flex: 0 1 126px;
   
    margin-right: 80px;
    
   
}
.minimalist-text__author {
    flex: 0 1 300px;
   
   
}