@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500&dispay=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
* {
    font-family: Poppins;
} 
.container  {
    width: 100%;
}
.header__block {
    
    height: 600px;
    margin: 0 auto;
    background: url("../img/backgnd.png") center / cover no-repeat;
}

.header__text {
    color: #E5E5E5;
    padding: 330px 0 0 100px;
}
.date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
    
}
.title {
    max-width: 400px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.text {
    font-size: 12px;
    font-weight: 300;
}


.main__backgnd {
    padding-top: 80px;
    max-width: 1170px;
    margin: 0 auto;
    background: linear-gradient(90deg,#FFE5E5FF 70%, #FFFFFFFF 0);
    background-size: 70px;
}

.list, .order__list, .unordlist  {
    font-family: "Inter";
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 45px 0;
    color: #000;
 
    
  
}


.numb, .numb2  {
    width: 25px;
    height: 25px;
    background-color:#3056D3FF;
    color:#FFFFFFFF;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px 20px 0;
    padding: 5px 0 0 0;
    display: inline-block;
    
}
.numb2{
    border-radius: 0;
}


.order__list, .unordlist {
    font-weight: 700;
    font-size: 16px; 
    color: #637381;
}
.unordlist ul {
    margin-bottom: 50px;
}
.unordlist li  {
    padding:15px 0 15px 30px;
    margin-left: 15px;
}

.list1 {
    margin-bottom: 100px;
}

.list2 {
    padding-bottom: 100px;
}
.list2 li {
    padding:10px 0 19px 40px;
}





.dot li {
    background: url('../img/dot.png') 0 18px / 10px no-repeat ; 
}

.blue li {
    background: url('../img/chkblue.png') 0 12px / 20px no-repeat ;
}

.green li{
    background: url('../img/chkgreen.png') -5px 12px / 30px no-repeat ;
}

.red li {
    background: url('../img/redx.png') 0 12px / 20px no-repeat ;
}

.arrow li{
        background: url('../img/arrow-right.png') 0 12px / 20px no-repeat ;
}

.star li{
    background: url('../img/star.png') 0 12px / 20px no-repeat ;
}

.speaker {
    background: url('../img/speaker1.png') 700px 81px /272px no-repeat, rgba(226,226,226,0.5);
    border: 1px solid #C8C8C8FF;
    min-height: 560px;
    margin-bottom: 100px;
    max-width: 1170px;
  
}

.info {
    font-family: "Inter";
    max-width: 570px;
    max-height: 269px;
    margin: 154px 0 0 0 ;

}

.price {
    color: #3056D3;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 13px;
}

.name {
    font-weight: 700;
    font-size: 36px;
    color: #212B36;
    margin-bottom: 15px;
}

.moreinfo {
    max-height: 100px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 35px;
    overflow:auto;
}

.shop {
    font-size: 16px;
    font-weight: 600;
    max-width: 150px;
    height: 40px;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #3056D3;
    color:#ffff;
}