@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import "_reset.scss";
@import "_common.scss";


body {
	font-family: "Oswald";
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1930px;
	padding: 0 15px;
	margin: 50px auto;

}

fieldset {
	border: 2px solid #C4C4C4;
	
}

.brand  {
	width: 100%;

}
.brand legend {
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0 60px;
	font-size:1.5rem ;
	line-height: 191%;
	font-weight: 400;
}

.brand__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	column-gap: 35px;
	row-gap: 5px;
	align-items:center;
	padding: 28px 12px;
	

}



.brand__item {
	display: flex;
	justify-content: center;
	align-items:center;
	min-height: 141px;
	max-width: 235px;
	transition: background-color 0.3s ease;
}

.brand__item img {
	width: 100%;
	
	
}

.brand__item:hover {
	background-color: #F0F2F2;
	
}


.offer__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr) ;
	grid-template-rows: repeat(2, 1fr);
	row-gap: 30px;
    column-gap: 30px;
	margin-bottom: 30px;

}
.offer__item {
	position: relative;
	padding-bottom: 41%;


}
.offer__item img,
.offer__item_big img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.offer__item_big {
	grid-row: span 2

}

.offer-item__text {
	display: inline-flex;
	flex-direction: column;
	align-items:flex-start;
	max-width: 369px;
	position: relative;
	top: 67%;
    left: 50%;
    z-index: 2;
	gap:7px;
}

.offer-item__text_3 {
	max-width: 400px;
	position: relative;
	top: 67%;
    left: 13%;

}

.offer-item__title {
	text-transform: uppercase;
	max-width: 221px;
	max-height: 118px;
	font-weight: 600;
	font-size: 3rem;
	line-height: 124%;
	overflow: hidden;
}
.offer-item__title_3 {
	max-width: 390px;
	max-height: 160px;
	overflow: hidden;
}

.offer-item__subtitle {
	max-height: 30px;
	overflow: hidden;
	font-size: 1.375rem;
	line-height: 2.3125rem;
	letter-spacing: 1px;
    margin-bottom: 1.5vw;
}
[class*=__button] {
	max-width: 175px;
	font-weight: 500;
	font-size: 1.125rem;
	border:2px solid black;
	padding: 14px 35px;
	letter-spacing: 0.5px;
	transition: background-color 0.3s ease;
	text-transform: uppercase;
}

.offer-item__button:hover {
	background-color: #000;
	color: #fff;

}


.offer-big__text {
	display: inline-flex;
	flex-direction: column;
	align-items:flex-start;
	max-width: 369px;
	position: relative;
    top: 85%;
    left: 13%;
    z-index: 2;
	gap:7px;
}
.offer-big__title {
	font-weight: 600;
	font-size: 6rem;
	line-height: 110px;
	text-transform: uppercase;
}
.offer-big__subtitle {
	font-size: 1.375rem;
	line-height: 2.3125rem;
	letter-spacing: 1px;
    margin-bottom: 1.5vw;
}


.shop {

	&__input {
		position:absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
	}

	&__label {
		position: relative;
		padding-left: 19px;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		cursor: pointer;
	}

	&__label::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 0;
			width: 12px;
			height: 12px;
			border: 1px solid #828282;
			transition: 0.3s;
		}

	&__label::after {
			content: "";
			position: absolute;
			top: 3px;
			left: 0;
			width: 12px;
			height: 12px;
			background: black url(../img/icons/checked.svg) 50% 50% no-repeat;
			visibility: hidden;
			opacity: 0;
			transition: 0.3s;
		}
	



}



@media (any-hover: hover) {
	.shop__input:hover + .shop__label::before {
		border: 2px solid black;
	}
	.shop__input:checked + .shop__label:after {
		visibility: visible;
		opacity: 1;
	}
}


.shop {
	padding-bottom: 67px;

	&__discription {
		font-size:1.125rem;
		line-height: 100%;
		font-weight: 300;
		padding-bottom: 1.125rem;
	}

	&__columns {
		display: flex;
		position: relative;
		margin-bottom: 63px;
		
	}
	&__columns::after {
		content:"";
		position: absolute;
		top: 0; 
		left: 22%;
		height: 100%;
		border-left:  1px solid #C4C4C4;
		
	}

	@media (max-width:800px) {
		&__columns::after {
		display: none;
			
		}
		
	}


	&__categories-list h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 68px;
		padding-bottom: 31px;	
	}

	&__categories-list {
		flex: 0 0 285px;
		height: 100%;
		position: relative;
	

	}
	@media (max-width: 1100px) {
		&__categories-list {
			flex: 0 0 20vw;
			height: 100%;
			position: relative;
		
	
		}
		
	}
	@media (max-width: 700px) {
		&__categories-list {
			display: none;
		
	
		}
		
	}




	&__categories-list::after {
	
	}

	&__categories-list label {
		text-transform: uppercase;;
	}

	&__categories-list li {
		padding-bottom: 20px;
	}


	&__items {
		display: flex;
		flex-wrap: wrap;
		column-gap: 26px;
		row-gap: 48px;
		justify-content: flex-end;
	}
	@media (max-width:1360px){
		&__items {
			
			justify-content: center;
		}
	}


	&__item {
		flex: 0 1 334px;
	}



	@media (max-width: 700px) {
		&__items {
			row-gap: 18px;
			column-gap:14px;

			justify-content: space-between;
		}

		&__item {
			flex: 0 1 47%;
		}
		
	}

	&__image {
		position: relative;
		
		

	}
	
	&__image img {
		padding-bottom: 14px;
		width: 100%;
	}
	

	&__categorie {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		line-height: 100%;
		color: #BDBDBD;
	}

	&__price {
		font-weight: 500;
		font-size: 1.375rem;
		line-height: 100%;
	}
}











@media (max-width:1250px) {

	.offer-item__text {
		max-width: 20vw;	
	}
	.offer-item__title {
		font-size: 3.2vw;
	}
	.offer-item__subtitle {	
		font-size: 0.85vw;
	}
	.offer-big__text {
		max-width: 200px;
		top: 75%;
		left: 13%;
		z-index: 2;
		gap:7px;
	}

	.offer-big__title {
		font-size: 4.5vw;
		line-height: 5vw;
		max-width: 160px;
		
	}
	.offer-big__subtitle {
		font-size: 0.85vw;
	}
	
}

@media (max-width: 800.98px ) {
	.offer__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		row-gap: 30px;
		column-gap: 30px;
	
	}
	.offer-item__button {
		min-width: 175px;
		font-weight: 500;
		font-size: 1.125rem;
		border:2px solid black;
		padding: 15px 43px;
		transition: background-color 0.3s ease;
	}
	.offer-big__title {
		font-size: 6vw;
		line-height: 8vw;
		max-width: 160px;
		
	}

	.offer-big__subtitle {
		font-size: 1.5vw;
		margin-bottom: 0;
		max-width:169px;;
	}
	.offer-item__subtitle {	
		font-size: 1.5vw;
		margin-bottom: 0;
		letter-spacing: 0.5px;
	}
} 

@media (max-width: 650px ) {


	.offer-item__text {
		max-width: 120px;	
	
	}
.offer-big__title {
	width: 100px;
	font-size: 26px;
	max-width: 140px;
	
}


.offer-item__subtitle {	
	font-size: 10px;
}
.offer-item__button {
	font-size: 10px;
	min-width: 85px;
	padding: 10px 18px;
}


}





















@media (max-width:420px) {
	.brand__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	
	}

	fieldset{
	border: 0;
	}
	legend {
		display: none;
	}

	.brand__item {
		display: flex;
		justify-content: center;
		align-items:center;
		border: 2px solid #C4C4C4;
		transition: background-color 0.3s ease;
		margin: 0 -15px;
		min-height: 55px;
	}
	


	.brand__item img {
		width: 50%;
		display: block;
		margin: 0 auto;
	
	
}

} 


.shop__grid {
		display: grid;
		grid-template-columns: 415px 1fr;

}
.shop__button {
	border: 2px solid #c4c4c4;
	grid-column: 2;
	justify-self: center;
	color: #828282;
	transition: all 0.3s ease;
	
}
.shop__button:hover {
	background:#000;
	color: #fff;

}

@media (max-width: 580px) {

	.shop__grid {
	grid-template-columns: 1fr;
	justify-items: center;
	}
	.shop__button {
		grid-column: 1;
	}
}






.banner {
	position: relative;
	width: 100%;
	display: flex;
	margin-bottom: 67px;
	&__image {
		padding-bottom: 24.8668%;

	}
	&__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


	&__info {
		position: relative;
		flex: 0 1 50%;
		padding: 96px 0 78px 269px;
		width: 100%;
	}
	&__info::before {
		content: "";
		position: absolute;
		top: 77px;
		left: 306px;
		display: block;
		border-top: 2px solid black;
		border-right: 2px solid black;
		width: 602px;
		height: 85px;
	}

	
	&__title {
		max-width: 583px;
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 87%;
		text-transform: uppercase;
		padding-bottom: 17px;
	}

	&__text {
		font-family: "Roboto";
		max-width: 639px;
		font-size:1.625rem ;
		letter-spacing: 0.5px;
		line-height: 37px;
		margin-bottom: 24px;
	}


	&__button {
		display: block;
		padding: 14px 44px;
	}
	&__button:hover {
		background-color:#000;
		color: #fff;
		
	}


}


	
	@media (max-width: 1440px) {
		.banner {	
		&__info {
			padding: 96px 0 78px 40px;
		}
		&__info::before {
			left: 81px;
	
		}

	}

		
	}

	@media (max-width: 770px) {
		.banner {
		&__image img {
	
		object-position: 70%;
		}


		&__title {
			font-size: 2.5rem;

		}
		&__text {
			font-size: 1.3rem;
			max-width: 519px;
		}
		&__info::before {
			
			width: 492px;
			height: 67px;
			top: 77px;
			left: 63px;
	
		}

	}
}
	@media (max-width:669.98px) {
		.banner {
		&__info::before {
			display: none;
	
		}
	}

		.banner__info {
			position: relative;	
			flex: 0 1 296px;
			padding: 96px 15px 78px 15px;
			width: 100%;
		}
		/*.banner__info_2 {
			flex: 0 1 268px;
			padding: 16px 20px 12px 20px;
			position: relative;
			top: 100px;
			right: 25%;
			width: 268px;
			height: 139px;
			border: 3px solid black;
		}
*/
		

		.banner__title {
			max-width: 146px;
			font-size: 14px;
			
		}
		.banner__text {
			font-size: 10px;
			line-height: 13px;
			max-width: 181px;
			overflow: hidden;
			max-height: 26px;
		}

		.banner__button {
		max-width: 85px;
		padding: 6px 17px;
		font-size: 10px;
		}

		.shop__grid {
			display: block;

		
		.shop__button {
			max-width: 100%;
			display: block;
			text-align: center;
		}
}
	

	}

	.featured-items {
		display: flex;
		justify-content:space-between;
		flex-wrap: wrap;
		align-items:center;
		margin-bottom: 34px;

		&__title {
			font-size:1.5rem;
			line-height: 191%;
			font-weight: 400;
		}

		&__buttons {
			border: 0;
			padding: 0;
		}
		

}

.buton-featured {

	&__left {
		display:inline-block;
		padding: 0px 13px;
		border: 1px solid #ababab;
		height: 40px;
		width: 40px;
		font-size: 30px;
		font-weight: 100;
		color:#ababab;
	}

	&__right {
		display:inline-block;
		padding: 0px 13px;
		border: 1px solid #ababab;
		height: 40px;
		width: 40px;
		font-size: 30px;
		font-weight: 100;
		color:#ababab;
		transition: all 0.3s;
	}
	&__right:hover,
	&__left:hover {
		background-color:#000;
		color:#fff;
	}
}


.featured-items-block {
	margin-bottom: 79px;
	
	

	&__items {
		display: flex;
	flex-wrap: wrap;
	column-gap: 31px;
	row-gap: 18px;
	justify-content: space-between;

	}


	&__item {
	}
}
.shop {

	&__item {
	}
}

.shop__item_featured {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis:content;
}

@media (max-width:907px ) {
	.shop__item_featured {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis:45%;
	}
	.featured-items-block__items {

		column-gap: 18px;

	}
	
}
@media (max-width:565px ) {
	.featured-items-block__items {
		justify-content: space-around;
		column-gap: 18px;
	}

	.shop__item_featured {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis:44%;
	}
	
}


//// banner 2 

.banner,
.banner_2 {



	&__image {

		&_50 {
			position: relative;
			flex: 0 1 55%;
			min-height: 363px;
			flex-wrap: wrap;
		}
		&_50 img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}





&__info-2  {
			padding:21px 94px;
			flex: 0 1 45%;
			text-align: left;
			margin: 0;
			z-index: 2;
		}






	&__title {

		&_2 {
			max-width: 591px;
			margin-bottom: 34px;
			position: relative;

		}
		&_2::before {
			content: "";
			position: absolute;
			top: -19px;
			left: 10.1%;
			width: 100%;
			height: 2px;
			background-color: #000;	


		}
		&_2::after {
			content: "";
			position: absolute;
			top: -19px;
			left: 110%;
			width: 2px;
			height: 140%;
			background-color: #000;	
			
		}

	}

	&__text {

		&_2 {
			font-size: 25px;
			max-width: 640px;
		}
	}

	&__button {
	}
}

.banner_2 {
	margin-bottom: 87px;
}

@media (max-width: 769.98px) {
	.banner_2 {
		display: flex;
		flex-direction: column;

	}
	.banner__title_2{
		width: 100%;
	}


	.banner__title_2::before {
    content: "";
    position: static;
    width: 0;
    height: 0;
    background-color: transparent;
}
.banner__title_2::after {
    content: "";
    position: static;
    width: 0;
    height: 0;
    background-color: transparent;

}

.banner__image_50 {
    position: static;
}

.banner__image_50 img {
    object-position:center;
}

.banner__info-2 {
    padding: 10px 34px;
    margin: 50px 12px 12px;
    z-index: 2;
    border: 2px solid #c4c4c4;
    background-color: #fff;
    position: relative;
    text-align: center;
	display: block;
	
	
}
.banner__button {
	margin: 0 auto;
}

}

@media (max-width: 670px) {
	.banner__title_2{
		font-size: 30px;
		margin-bottom: 10px;
		
	}

	.banner__text_2 {
		font-size: 14px;
		line-height: 13px;
	}


}


/////blog
/// 
.blog {



		&__title {
			font-size:1.5rem;
			font-weight: 400;
			line-height: 191%;
			margin-bottom: 30px;
	
		}

		&__columns {
			
		display: flex;
		column-gap: 30px;
		justify-content:space-between;
		
		}

		&__item {
			flex: 0 1 21%;
			//padding: 24px 67px 0 24px
		}

		
}
.item-blog {

		&__header {
			font-size:1.125rem;
			line-height: 100%;
			font-weight: 600;
			color: #bdbdbd;
			text-transform: uppercase;
			margin-bottom: 21px;
		}

		&__title {
			font-size:1.625rem ;
			font-weight: 400;
			line-height: 100%;
			margin-bottom: 32px;
		}

		&__text {
			font-size: 1rem;
			line-height: 1.5rem;
			letter-spacing: 0.5px;
			margin-bottom: 99px;
		}

		&__footer {
			border-top: 3px solid #000;
			font-size: 0.8125rem;
			font-weight: 300;
			line-height: 192%;
			text-align: left;
			color:#4f4f4f;
		}


}


@media (max-width: 769.98px) {

	.blog__columns {
		row-gap: 14px;
		flex-wrap: wrap;
	}


	.blog__item {
		flex: 0 1 100%;
	}
	
}