@import url("reset.css");
@import url("common.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
	font-family:'Poppins';
}



[class*="__container"] {
	margin: 0 auto;
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
}	
[class*="_list"] {
	margin-bottom: 20px;
}	


.logo {
	font-size: 30px;
}

.header__menu li, .header__social li{
	display: inline-block;
}

.header__block {
	min-height: 500px;
	background: url('../img/header-backgrnd.jpg') 0 0 /cover no-repeat;
	
}
.block_header {
	margin-bottom: 80px;
}

.header__text {
	color:#ffff;
	
}


.logo_point {
	color:orange;
}

.main__nav-menu {
	margin-left: 420px;
}

.main__text {
	max-width: 393px;
	font-size: 25px;
	font-weight: 700;
}

.main__nav-menu li {
	display: inline-block;
	padding-right: 30px;
}
.main__gallery {
	text-align: center;
}
.gallery {
	margin-bottom: 80px;
}



.info__text {
	text-align: left;
}
.info__block {
	display: inline-block;
	max-width: 393px;
	margin:0 6px 10px 0;
}
.main__gallery .info__block:nth-child(3n){
	margin-right: 0;
}



.trending_txt {
	max-width:200px;
}
.gallery__trending {
	display: inline-block;
	

	
	
}
.gallery__trending img {
	max-height:  420px;
	margin:0 6px 10px 0;
	
}


.footer__container {
	background-color: #212529;
	max-height: 100%;
	padding-bottom: 80px;
}
[class*='footer']  {
	color: #8D8F92FF;
}
.footer_logo {
	color:#ffff;
}


.footer__line {
	border-bottom: solid #8D8F92FF;
}
